<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.example.testCases.TestNGListener"/>
    </listeners>
    <test verbose="2"  preserve-order="true" parallel="methods" thread-count="4"
          name="Ecommerce site test">
        <classes>
            <class name="org.example.testCases.tests.SignUpLogInTest">
                <methods>
                    <include name="validateRegistrationAndDeletion"/>
                    <include name="validateIncorrectLogIn"/>
                    <include name="validateRegisteruserWithExistingEmail"/>
                </methods>
            </class>

            <class name="org.example.testCases.tests.PLPPageTest">
                <methods>
                    <include name="verifyProductListPage"/>
                    <include name="verifySearchProduct"/>
                </methods>
            </class>

            <class name="org.example.testCases.tests.HomepageTest">
                <methods>
                    <include name="verifySubscription"/>
                </methods>
            </class>

            <class name="org.example.testCases.tests.CartPageTest">
                <methods>
                    <include name="addProductsAndVerifyInCart"/>
                    <include name="validateProductQuantityInCart"/>
                </methods>
            </class>

            <class name="org.example.testCases.tests.PlaceOrderTest">
                <methods>
                    <include name="placeOrderRegisterwhileCheckout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>