<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Practice/EcommerceSite/src/test/java/org/example/testCases/common/HomepageTest.java">
        <classes>
            <class name="org.example.testCases.tests.HomepageTest">
                <methods>
                    <include name="validateRegistrationAndDeletion"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>